* {
  margin: 0;
  padding: 0;
  font-family: "SF Pro Display", sans-serif;
}

body,
html {
  height: 100vh;
  overflow: hidden;
}

canvas {
  height: 100vh;
  width: 100%;
  z-index: 0;
}

#title {
  display: flex;
  height: 5vh;
  justify-content: center;
  position: absolute;
  text-align: center;
  width: 100vw;
}

#title-box {
  align-items: center;
  background-color: #040404;
  border-radius: 20px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.8);
  color: #fdfdfd;
  column-gap: 30px;
  display: flex;
  font-size: 16px;
  font-weight: bold;
  height: 2px;
  justify-content: center;
  margin-top: 10px;
  padding: 20px;
  width: 200px;
  z-index: 2;
}

#root {
  display: flex;
  flex-direction: vertical;
}

#section {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  padding: 25px;
}

#control-section {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(0, auto));
  gap: 1vw;
  padding: 1vw;
}

#left-panel {
  background-color: #040404;
  border-radius: 0px 20px 20px 0px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.8);
  color: #fdfdfd;
  height: fit-content;
  position: absolute;
  top: 20%;
  width: 18vw;
  z-index: 2;
}

#control-panel {
  position: fixed;
  background-color: #040404;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.8);
  color: #fdfdfd;
  height: fit-content;
  width: 100vw;
  bottom: 0;
  z-index: 2;
}

#transformation_sliders {
  grid-row-start: 2;
  grid-column-start: 1;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

#camera_sliders {
  grid-row-start: 2;
  grid-column-start: 2;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

#translation {
  grid-column-start: 1;
}

#rotation {
  grid-column-start: 2;
}

#scaling {
  grid-column-start: 3;
}

.btn {
  align-items: center;
  background: #ffffff;
  border: 0 solid #e2e8f0;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  color: #1a202c;
  display: inline-flex;
  font-size: 1rem;
  font-weight: 700;
  height: 56px;
  justify-content: center;
  line-height: 24px;
  overflow-wrap: break-word;
  padding-left: 8px;
  text-decoration: none;
  margin-bottom: 2px;
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn:hover {
  transition: all 0.1s ease;
  background-color: rgb(150, 150, 150);
}

input[type="range"] {
  background: transparent;
  cursor: pointer;
  width: 10rem;
}
