* {
  margin: 0;
  padding: 0;
  font-family: "SF Pro Display", sans-serif;
}

body,
html {
  height: 100vh;
  overflow: hidden;
}

canvas {
  height: 100vh;
  width: 100%;
  z-index: 0;
}

#root {
  display: flex;
  flex-direction: vertical;
}

#section {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  padding: 24px;
}

#right-panel {
  background-color: #040404;
  border-radius: 20px 0px 0px 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.8);
  color: #fdfdfd;
  height: fit-content;
  position: absolute;
  right: 0;
  width: 18vw;
  height: 100vh;
  z-index: 2;
}
